body {
    margin: 0; /*!это отступ у body есть*/
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #697687;
}

*,
*:before,
*:after {
    box-sizing: border-box; /*!не нужно подсчитывать размер блока*/
}

h1,h2,h3,h4,h5,h6 {
    margin: 0; /*отступ*/
}

p {
    margin: 0 0 10px 0;
}

/*Container===================*/
.container {
    width: 100%;
    max-width: 1170px; /*если экран меньше 1170px, то будет занимать 100% экрана*/
    margin: 0 auto; /*выравнивание по центру*/
}

/* Header (шапка)======================*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    height: 100px;
}

.header__inner {
    display: flex;
    justify-content: space-between; /*разделить наши элементы*/
    align-items: center; /*выровнять элементы с картинкой по центру*/
    padding: 30px 20px 0; /*внутренний отступ в самом начале наверху*/

}


/* Nav (наши кнопки навигации)======================*/
.nav {
    display: flex; /*соединить все элементы*/
    font-size: 16px;
    font-weight: bold 700;
    align-items: center;
}

.nav__link {
    margin-left: 40px;

    color: #002248;
    text-decoration: none; /*подчеркивание*/
    /* opacity: .75; прозрачность наших значков

    transition: opacity .1s linear; */
}

.nav__link:hover {
    text-decoration: underline; /*при наводе на них*/
    /* opacity: 1; */
}


.btn {
    display: inline-block;
    vertical-align: top;
    background-color: #0c787d; /*#5F8FA2*/
    padding: 14px 40px;
    color: #fff;

    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #669EF2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    text-decoration: none;
}

/* .btn {
 display: inline-block;
 vertical-align: top;

 font-size: 16px;
 color: #fff;
 font-weight: 600;
 background-color: #fff;
} */

.btn--red {
    background-color: #002248; /*5495f6*/
    text-transform: uppercase; /*все буквы большие*/
    text-decoration: none;
}

.btn span:last-child {
    display: none;
}

/*при нажатии кнопки*/
.btn:hover {
    transition: .4s;
    border: 2px dashed #002248; /*края при нажатии кнопки цвета*/
    background-color: #fff;
    color: #002248; /*текст буквы*/
}

.btn--red:hover {
    transition: .4s;
    border: 2px dashed #002248; /*края при нажатии кнопки цвета*/
    background-color: #fff;
    color: #002248; /*текст буквы*/
}

/* .btn:active {
 background-color: #87dbd0;
} */





/* Intro (часть кроме шапки)======================*/
.intro {
    height: 770px;
    background: #163A48 url(../img/mountain3.jpg) center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.intro__inner {
    width: 100%;
    max-width: 620px; /*прописываем его ширину*/
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    /*padding - внутренний отступ*/
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    line-height: 1.1; /*межстрочный отступ*/
    color: #fff;
    font-weight: 700;
}

.intro__subtitle {
    margin-bottom: 60px;
    margin: 30px 0;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400; /*regular*/
}

/*для вывода всплывающего окна*/
/* #login {
  position: fixed;
  top: 50%; /* Позиционируем окно по центру вертикали
  left: 50%; /* Позиционируем окно по центру горизонтали
  transform: translate(-50%, -50%); /* Центрируем окно
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000; Устанавливаем высокий индекс для отображения поверх остальных элементов
} */


/* часть с путевками */
/* ======================*/
.intro-tour {
    height: 900px; /* 100% высоты экрана */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: #002248;
    align-items: center;
    margin: 0;
}

.view-all {
    display: inline-flex;
    /* margin-top: 1rem; */
    margin-top: auto;
    font-size: 25px;
    color: #0a4587;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;

    margin-right: 30px;
    margin-left: -150px;
}

.view-all span {
    transition: .3s ease;
}

.view-all:hover span {
    transform: translateX(4px);
}

.view-all:hover {
    text-decoration-line: underline;
}

.section__head {
    display: flex;
    justify-content: space-between; /* Равномерно распределяем пространство между элементами */
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    align-items: center;
    line-height: 1.1;
    margin-bottom: 56px;
    text-align: center;
}

.section__title {
    margin: 0; /* Убираем внешние отступы у заголовка */
    text-align: center; /* Центрирование заголовка по центру .section__head */
    flex-grow: 1; /* Занимаем все доступное пространство слева от .view-all */
}

.posts {
    padding: 0 20px 20px 60px;
    display: flex;
    flex-wrap: wrap; /* Разрешить перенос на новую строку */
    /* justify-content: space-between; Равномерно распределить элементы по ширине контейнера */
    margin: -20px -20px;
}

.post {
    display: inline-block;
    text-decoration: none;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    /* padding: 0 25px; отступы */
    margin: 20px 10px;
    /* margin: 0 20px 20px 0; Добавить отступ справа и снизу */
}

.post__body {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 25%;
    background-color: #fff;
    border-radius: 0px 6px 0px 0px;
    padding-top: 5px; /*высота полосочки*/
    padding-right: 22px;
}

.post__title {
    font-style: 17px; /*высота строки*/
    line-height: 25px;
    color:var(--dark);
    color: #002248;
    font-weight: 600;
}

.post__subtitle {
    font-weight: 500;
    font-style: 15px;
    line-height: 24px;
    color: #80918e;
}

.post__img {
    height: 200px;
    width: 350px;
}

.post__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* корзина */
.cartBtn {
    border: none;
    border-radius: 0px;
    padding: 14px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    font-weight: 500;
    position: relative;
    background-color: #104d8a;
    box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 20px;
}

.cartBtn:hover {
    transition: 1ms;
    border: none;
    background-color: #1162b3;
    color: #fff; /*текст буквы*/
    text-decoration: none;
}

.cart {
    z-index: 2;
}

.cartBtn:active {
    transform: scale(0.96);
}

.product {
    position: absolute;
    width: 12px;
    border-radius: 3px;
    content: "";
    left: 23px;
    bottom: 23px;
    opacity: 0;
    z-index: 1;
    fill: rgb(211, 211, 211);
}
